*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}

header{
    display: flex;
align-items: center;
    justify-content: space-between;
    gap: 80px;
   padding-top: 70px;
}
h3{
    font-family: "Nosifer", sans-serif;
    color: #FAFF00;
    text-align: center;
}

.box{
background-image: url("./image\ 2\ \(1\).png");
width: 1440px;
height: 1024px;
gap: 0px;
opacity: 0px;


background-repeat: no-repeat;
background-size: cover;
}


.ba  .container{
    display: flex;
    align-items: center;
}

h1{
    margin: 10px auto;
    font-family: "Nosifer", serif;
    width: 1200px;
    height: 125px;
    color: #FAFF00;
    font-size: 100px;
}


h2{
    margin: 10px auto;
 background: linear-gradient(90deg, rgba(245, 194, 44, 0.96) 0%, #64AA58 28%, #FAFF00 58.5%, #D92E23 100%);
 border: 4px solid black;
width: 692px;
height: 119px;
text-align: center;
padding:  31px ;
font-size: 40px;
margin-top: 564px;
font-family: "Irish Grover", serif;
}



h3:hover{
   color: #B60505;
 
}














